body{
  background-color: #0200ad;
}

.main-body{
  color: #0200ad;
  background-color: #FFFFFF;
  width: 75%;
  margin: auto;    
}

.uvodni-fotka{
  width: 100%;
}

.text1{
  padding-top: min(10em, 8%)   ;
  padding-left: min(10em, 8%)   ;
  padding-right: min(10em, 8%)   ;
  font-size: 1.5rem;
}

.text2{
  
  padding-left: min(10em, 8%)   ;
  padding-right: min(10em, 8%)   ;
  padding-bottom: min(10em, 8%)   ;
  font-size: 1.5rem;
}

p{
  font-family: "Courier Prime", monospace;
}

.bold{
  font-weight: bold;
}

.mapa{
  height: 40dvh;
  width: 100%;
}

@media screen and (max-width: 800px){
  .main-body{
    width: 100%;
  }
  p{
    font-size: 1rem;
  }
}

.QR{
  width: 40%;
}